.article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 24px;
	max-width: var(--container-width, auto);
	margin: 0 auto;
	padding: 90px 0;
	overflow: hidden;
}

.titleDescription {
	max-width: 684px;
}

.imageWrapper {
	width: 100%;
	margin-top: 26px;
	overflow: hidden;
}

.image {
	position: relative;
	left: 50%;
	display: block;
	width: 1600px;
	max-width: none;
	height: auto;
	transform: translateX(-50%);
}
